*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    color: white;
    background: black;
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-gap: 15px;
}